{% extends 'layout.html' %} {% block content %}
<div class="container">
    <p>I am a developer with a passion for programming and technology. I love creating and contributing to open source software. Learning new programming languages is one of my favorite things to do.</p>
</div>
<div class="container">
    <p>
        c &SmallCircle; 
        css &SmallCircle; 
        html &SmallCircle; 
        javascript &SmallCircle; 
        lisp &SmallCircle; 
        pharo &SmallCircle; 
        php &SmallCircle; 
        python &SmallCircle; 
        racket &SmallCircle; 
        rust &SmallCircle; 
        smalltalk &SmallCircle; 
        sql &SmallCircle; 
        zig
    </p>
</div>
<div class="container">
    <h3>Stuff I'm working on</h3>
    <p><b><a href="https://github.com/juliojimenez/clickhouse-cl" target="_blank">clickhouse-cl</a></b> - A Common Lisp client library for ClickHouse</p>
    <p><b><a href="https://github.com/juliojimenez/yamler" target="_blank">yamler</a></b> - YAML Parsing GitHub Action</p>
    <p><b><a href="https://github.com/bogu-io/bogu" target="_blank">bogu</a></b> - The Secret Scanner - <a href="https://bogu.io" target="_blank">bogu.io</a></p>
    <p><b><a href="https://github.com/SBOMcc/sbomcc" target="_blank">sbom.cc</a></b> - SBOM Parsing For Humans - <a href="https://sbom.cc" target="_blank">sbom.cc</a></p>
    <p><b><a href="https://github.com/juliojimenez/jokes" target="_blank">jokes</a></b> - Random Jokes - <a href="https://jokes.julio.sh" target="_blank">jokes.julio.sh</a></p>
</div>
<div class="container">
    <p>&xopf; - <a href="https://x.com/LispDev" target="_blank">@LispDev</a></p>
    <p>&#128025; - <a href="https://github.com/juliojimenez" target="_blank">juliojimenez</a></p>
</div>
<div class="container">
    <p>&copy; 2024 Julio Jimenez</p>
</div>
{% endblock %}
