{% extends 'layout.html' %} 
{% block content %} 
    <div class="container">
        <div class="terminal">
            <div class="title">whoami</div>
            <div class="prompts" id="whoami"></div>
        </div>
        <div class="terminal">
            <div class="title">projects</div>
            <div class="prompts" id="projects"></div>
        </div>
        <div class="terminal">
            <div class="title">quotes</div>
            <div class="prompts" id="quotes"></div>
        </div>
        <div class="terminal">
            <div class="title">random</div>
            <div class="prompts" id="random"></div>
        </div>
        <div class="terminal">
            <div class="title">lisp</div>
        </div>
        <div class="terminal">
            <div class="title">beep bop boop</div>
        </div>
    </div>
{% endblock %}
